body {
    background-color: #dbf0f0;
    color: #202060;
    font-family: sans-serif;
}

header {
    font-family: serif;
    text-align: center;
}

header h1 {
    color: #202060;
    text-shadow: 2px 2px 5px white;
}

nav a {
    text-decoration: none;
    display: inline;
    margin: 0px 10px;
    color: #202060;
    
}

th {
    text-align: right;
}

td {
    text-align: left;
}

form {
    
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1em auto;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
}

form li {
    margin: 5px 0px;
}
