@CHARSET "UTF-8";
/*
Colors: 
#0f585e   logo color
#072c2f   almost black
#c3d5d7   light neutral shade
#e1eaeb   lighter neutral shade
#5e0f58   dark purple
*/

@font-face {
    font-family: quicksand;
    src: url('fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
    font-family: cinzel;
    src: url('fonts/cinzel/Cinzel-Regular.otf');
}

body {
    background-color: #c3d5d7;
    color: black;
    font-family: quicksand, arial, sans-serif;
    padding: 0;
    margin: 8px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    font-weight: italic;
}

header {
    overflow: hidden;
    background-color: white;
    /* Negative margins to collapse body's margins on three sides */
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    vertical-align: center;
}

header img {
    display: block;
    float: left;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cinzel, serif;
}

header img {
    float: left;
    margin: 10px;
    display: block;
}

header h1 {
    color: #072c2f;
    position: relative;
}

.align-vertically {
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    text-decoration: none;
    display: inline;
    margin: 0px 10px;
    color: #0f585e;
}

form {
    font-weight: inherit;
    font-size: inherit;
    display: inline-block;
}

:optional {
    /*border-style: none;*/
    background: rgba(255, 255, 255, 0.6);
    border-color: #0f585e;
}

:required {
    background: white;
}

textarea {
    resize: none;
}

textarea, input {
    font-family: inherit;
    font-size: inherit;
    margin-top: 2px;
    margin-bottom: 2px;
}

textarea, input[type=text], input[type=password], input[type=email], input[type=number], select {
    border: 1px solid #0f585e;
    border-radius: 3px;
    width: 100%;
    padding: 2px;
}


button, input[type=submit], select {
    /*border: 1px solid #0f585e;*/
    font-size: large;
    border-radius: 3px;
}

form h2 {
  text-align: center;
}

.floatleft {
    float: left;
}

.error-message {
    font-size:small;
    color: #b30000;
    font-style: italic;
}

/* 
    Using divs to group together the field label and input. 
    Inline blocks will appear multiple per line when space is available
    but will split to multiple lines when it is not. 
 */

.columns {
    
  -webkit-columns: 3 350px;
     -moz-columns: 3 350px;
          columns: 3 350px;

  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
    
    margin-left: 3em;
    margin-right: 3em;
}

.columns p {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}

.columns div.field {
    margin-top: 1em;
    margin-bottom: 1em;
    
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    
    text-align: top;
}

table {
}

table.landscape, table.landscape th, table.landscape td {
    border: 1px solid #0f585e;
    border-collapse: collapse;
}

table.landscape {
    text-align: center;
}
table.landscape th{
    vertical-align: bottom;
    background-color: rgba(255, 255, 255, 0.5);
}
table.landscape td{
    vertical-align: top;
    background-color: white;
}

table.portrait th, td{
    vertical-align: top;
}

table.portrait th {
    text-align: right;
}

table.portrait td {
    text-align: left;
}